.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    flex-direction: column;
    height: 70vh;
}

p{
    margin-top: 2rem;
}