.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    flex-direction: column;
    height: 70vh;
}
.about-text{
    margin-top: 2rem;
    font-size: 26px;
}