.font{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family:"Oradano";
}

.font-fr{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Fondamento";
}