h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.hira-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}