.signinbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10rem;
    .signinfield{
        margin-bottom: 3rem;
    border: 0.2rem solid rgb(134, 22, 52);
    font-size: large;
    padding-left: 1rem;
    border-radius: 6px;
    height: 1.5rem;
    width: 22rem;
    outline: none;
    }
    .passwordfield{
        margin-bottom: 3rem;
        border: 0.2rem solid rgb(134, 22, 52);
        font-size: large;
        padding-left: 1rem;
        border-radius: 6px;
        height: 1.5rem;
        width: 22rem;
        outline: none;
    }
    .signin-button{
        margin-top: 1rem;
        color: white;
        background-color: rgb(134, 22, 52);
        border-radius: 6px;
        font-size: larger;
        height: 3rem;
        width: 7rem;
    }
}

.signin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-image {
    border-radius: 12px;
    height: 70vh;
  }